.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.title, .title-edit{
  color:#FFF;
  text-shadow: 2px 2px 4px #000007;
  font-size: 28px;
  text-align: center;
}
.area-btn{
  display: flex;
  gap: 10px;
}

.modal-content{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999;
}

body.modal-aberto {
  overflow: hidden;
}
.modal{
  z-index: 1000;
  position: relative;
}



.formulario, .modal{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 45px;
  border-radius: 10px;
  background-color: #202020;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;

  & button{
    border-radius: 30px;
    background-color: #1d1679;
    border: none;
    height: 40px;
    color: #FFF;
    cursor: pointer;
  }

  & button:hover{
    opacity: 0.8;
  }

  & input{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    height: 40px;
    background-color: #4d4d4d;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
    color: #FFF;
  }
  .btn-random{
    background-color: #fa4f00;
  }
  .btn-delete-all, .btn-close{
    background-color: #db1313;
  }
}

.card{
  display: flex;
  justify-content: space-between;
  background-color: #202020;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  opacity: 0.9;
  
  & p{
    color: #FFF;
    font-weight: bold;
  }
  & span{
    font-weight: normal;
  }

  & button{
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

